<section th:fragment="content" class="flex-1 p-6 overflow-y-auto" xmlns:th="http://www.thymeleaf.org">
  <h1 class="text-2xl font-semibold text-gray-800 mb-6">Add warehouse</h1>

  <div class="bg-white p-6 rounded-[30px] shadow-md min-h-[calc(100vh-180px)]">
    <h2 class="text-xl font-semibold text-gray-800 mb-6">Attribute information</h2>

    <form id="addAttributeForm" class="space-y-4">
      <div class="mb-4">
        <label for="attributeName" class="block text-gray-700 text-sm font-medium mb-2">Attribute name</label>
        <input type="text" id="attributeName" name="attributeName" class="shadow-sm appearance-none border border-gray-300 rounded-full w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent transition duration-200" placeholder="Enter attribute name">
      </div>

      <div class="mb-4">
        <label for="unitOfMeasure" class="block text-gray-700 text-sm font-medium mb-2">Unit of Measure</label>
        <input type="text" id="unitOfMeasure" name="unitOfMeasure" class="shadow-sm appearance-none border border-gray-300 rounded-full w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent transition duration-200" placeholder="Enter unit of measure">
      </div>

      <div class="mb-6">
        <label for="description" class="block text-gray-700 text-sm font-medium mb-2">Description</label>
        <textarea id="description" name="description" rows="5" class="shadow-sm appearance-none border border-gray-300 rounded-[15px] w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent transition duration-200 resize-y" placeholder="Enter description"></textarea>
      </div>

      <div class="flex justify-end space-x-4">
        <button type="submit" class="bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-2.5 px-6 rounded-full shadow-md transition duration-200">Save</button>
        <button type="button" class="bg-gray-700 hover:bg-gray-800 text-white font-medium py-2.5 px-6 rounded-full shadow-md transition duration-200">Cancel</button>
      </div>
    </form>
  </div>

  <th:script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/ajaxhelper.js}"></script>
    <script th:src="@{/js/attribute/add-attribute.js}"></script>
  </th:script>



</section>