
<div th:fragment="content">
  <h1 class="text-2xl font-semibold text-gray-800 mb-6">Main content</h1>

  <div class="bg-white p-6 rounded-lg shadow-md min-h-[calc(100vh-180px)] flex items-center justify-center">
    <img class="rounded-full w-64 h-64 object-cover shadow-lg border-4 border-white transform hover:scale-105 transition-transform duration-300"
         src="https://www.google.com/imgres?q=johnny%20sins&imgurl=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D100095130332874&imgrefurl=https%3A%2F%2Fwww.facebook.com%2FJohnnysinsFacebook%2F&docid=bBFWQqaLsBgtwM&tbnid=r6IFvjwqcOnn3M&vet=12ahUKEwjLvf729cOOAxVN3TgGHd7WJIAQM3oECBQQAA..i&w=512&h=512&hcb=2&ved=2ahUKEwjLvf729cOOAxVN3TgGHd7WJIAQM3oECBQQAA"
         alt="raa ttr">
  </div>
  </div>
